/* Importing from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    background-color: rgb(138, 119, 237);
}

header {
    text-align: center;
    background-color: rgb(138, 119, 237);
    color: white;
    font-family: Permanent Marker, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

/* Styling for the search card section */
#search_card {
    display: flex;
    align-items: center;
    background-color: rgb(138, 119, 237);
    color: white;
    font-family: Play, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-left: 230px;
}

/* Styling for the search bar form */
#search_bar {
    background-color: rgb(138, 119, 237);
    padding: 20px;
    font-family: Play, 'Trebuchet MS', sans-serif;
}

/* Styling for the weather info when search is fetched */
.weather-info {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250%;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 1);
}

/* Styling for the weather card section when search is fetched */
#weather_card {
    background-color: rgb(138, 119, 237);
    margin-top: 8px;
    color: black;
    text-align: center;
    font-family: Play, 'Trebuchet MS', sans-serif;
    display: none;
}

#search_button, #clear_button {
    background-color: rgb(104, 80, 224); 
    color: white;
    font-size: 18px; 
    padding: 2px 18px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the search button */
#search_button:hover {
    background-color: rgb(182, 172, 231);
}

/* Hover effect for the clear button */
#clear_button:hover {
    background-color: rgb(182, 172, 231);
}


li {
    cursor: pointer;
}

/* Hover effect for list items */
li:hover {
    color: rgb(29, 18, 84); 
}


h2 {
    font-family: Righteous, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

/* Styling for the forecast container when search is fetched */
#forecast {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(138, 119, 237);
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
    justify-content: center;
}

/* Styling for individual forecast items when search is fetched */
.forecast-item {
    max-width: 500px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 1);
    padding: 10px;
    margin-bottom: 10px;
}

/* Media Query for smaller screens for responsive design */
@media screen and (max-width: 900px) {
    header {
        margin-top: 10px;
    }
    
    #search_card {
        margin-left: 0;
        flex-direction: column;
    }

    .weather-info {
        margin-left: -100px;
    }
}
